@inherits LayoutComponentBase
@using BlazorServerExpensesTracker.Pages

<PageTitle>BlazorAppGeneral</PageTitle>
<main>
    <div class="container">
        <Sidebar></Sidebar>
        @Body
        <Syncfusion.Blazor.Popups.SfDialogProvider />
    </div>
</main>